/* Reset geral */
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

/* Variáveis */
:root {
  --hue: 200;
  --saturation: 50%;
  --foreground-color: hsl(var(--hue), var(--saturation), 85%);
  --background-color: hsl(var(--hue), var(--saturation), 15%);

  --position: 50;
  --x: 50;
  --y: 50;
}

/* Layout principal */
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--background-color);
  color: var(--foreground-color);
}

body {
  display: flex;
  flex-direction: column;
}

/* Barra superior */
#navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
  padding: 4px;
  font-size: 40px;
  font-weight: 400;
  flex-shrink: 0;
}

.separator {
  font-size: 20px;
  margin-bottom: 4px;
}

.score-name {
  font-size: 14px;
  font-weight: thin;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.player-score {
  text-align: right;
}

.computer-score {
  text-align: left;
}

/* Campo do jogo */
#game-field {
  position: relative;
  flex-grow: 1;
  overflow: hidden;
  width: 100%;
}

/* Raquetes */
.paddle {
  position: absolute;
  background-color: var(--foreground-color);
  width: 2vh;
  height: 10vh;
  border-radius: 4px;
  top: calc(var(--position) * 1vh);
  transform: translateY(-100%);
}

.paddle.left {
  left: 3vw;
}

.paddle.right {
  right: 3vw;
}

/* Bola */
#ball {
  position: absolute;
  background-color: var(--foreground-color);
  width: 2.5vh;
  height: 2.5vh;
  border-radius: 100%;
  left: calc(var(--x) * 1vw);
  top: calc(var(--y) * 1vh);
  transform: translate(-50%, -50%);
}
